/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* External CSS imports */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'leaflet/dist/leaflet.css';
@import 'aos/dist/aos.css';

/* Root Variables for Custom Colors */
:root {
  --foreground-rgb: 236, 240, 241;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 43, 43, 43;
  --highlight: #1d4ed8;
  --highlightHover: #2563eb;
}

/* Adjust for Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global body styles */
html, body {
  @apply bg-black text-white;
  height: 100%;
  font-family: 'Inter', sans-serif; /* Ensure the Inter font is applied */
}

/* Custom Button Styling */
button {
  background-color: var(--highlight);
  color: rgb(var(--foreground-rgb));
  border-radius: var(--radius);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--highlightHover);
}

/* Footer Styles */
footer {
  @apply bg-gray-900 text-white py-6;
}
